# Gradle & Build output
.gradle/
build/
out/
bin/
tmp/

# IDEA / Eclipse (Настройки редактора не нужны в репо)
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factory/

# Minecraft & MCP (Это всё генерируется при setupDecompWorkspace)
mcp/
.mcp/
minecraft-debug/
jars/
reobf/
.reobf/
eclipse/

# Logs & Crash Reports
logs/
*.log
crash-reports/
screenshots/

# System
.DS_Store
Thumbs.db

# Compiled Java files & Jars
*.class
*.jar
*.war
*.zip
*.exe

# НО! Оставляем Gradle Wrapper (чтобы другие могли собрать проект)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties